

# RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# <IfModule mod_rewrite.c>
#    Options +FollowSymLinks
#    # a comment
#    RewriteEngine on

#    # Send request via index.php

#    RewriteCond %{REQUEST_FILENAME} !-f

#    RewriteCond %{REQUEST_FILENAME} !-d

#    RewriteRule ^(.*)$ index.php/$1 [L]
# </IfModule>

#this is a htacsess file rul to handle redirects
RewriteEngine ON

ReWriteRule ^([^/]+)/?index.php?url=$1 [L,QSA]
